.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 10px red;
}

.heading_div{
    float:none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color:yellow;
    box-shadow:10px 10px 10px peachpuff;
}

.heading_div2{
    font-size: 18px;
}


.result_para_tag{
    box-shadow: 5px 5px 5px rgba(255, 255, 0, 0.856);
    font-size: 20px;
}

.copy_right_footer{
    position:fixed;
    color: tan;
    bottom: 0;
    width: 100%;
    background-color: black;
    line-height: 3;
    text-align: center;
}


canvas{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.945);
    margin-top:150px;
}


